body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(245, 245, 245);
}
.navbar {
  z-index: 2;
  background-color: rgba(135, 135, 135, 0.405);
  backdrop-filter: blur(11px);
  position: fixed;
  top: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #hero-title {
    font-size: 2rem;
  }
  #hero-subtitle {
    font-size: 1rem;
  }
  .title {
    font-size: 1rem;
  }
  .price {
    font-size: 0.9rem;
  }
  #container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .product {
    height: 36vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

      #hero-title {
        font-size: 3rem;
      }
      #hero-subtitle {
        font-size: 1.4rem;
      }
      .title {
        font-size: 1.2rem;
      }
      .price {
        font-size: 1rem;
      }
      #container {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
      }
      .product {
        height: 39vh;
      }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
      #hero-title {
        font-size: 3rem;
      }
      #hero-subtitle {
        font-size: 1.3rem;
      }
      .title {
        font-size: 1.5rem;
      }
      .price {
        font-size: 1.2rem;
      }
      #container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
      }
      .product {
        height: 46vh;
      }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #hero-title {
        font-size: 3.4rem;
      }
      #hero-subtitle {
        font-size: 1.5rem;
      }
      .title {
        font-size: 1.1rem;
      }
      .price {
        font-size: 1rem;
      }
      #container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
      }
      .product {
        height: 50vh;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #hero-title {
        font-size: 4rem;
      }
      #hero-subtitle {
        font-size: 2rem;
      }
      .title {
        font-size: 1.2rem;
      }
      .price {
        font-size: 1.2rem;
      }
      #container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
      }
      .product {
        height: 55vh;
      }
    

}

#hero-section {
    padding: 1rem;
    height: 70vh;
}

#container {
  padding: 1rem;
  display: grid;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 9px;
  background-color: white;
  box-shadow: 2px 4px 14px rgba(152, 148, 148, 0.4);
}

.prodImg {
  width: 70%;
  height: 50%;
}

.title {
  width: 100%;
  text-align: left;
  font-weight: 700;
}
.price {
  width: 100%;
  text-align: left;
  font-weight: 900;
  color: rgb(14, 91, 65);
}
.ratings {
  width: 90%;
  text-align: right;
  color: rgb(92, 88, 88);
}
